@{
    ViewData["Title"] = "Upload Excel Files";
}

<form enctype="multipart/form-data" method="post" asp-controller="Upload" asp-action="ImportExcelFile">
    <dl>
        <dt>
            <label>Upload Excel:</label>
        </dt>
        <dd>
            <input type="file" name="FormFile" id="FormFile">

        </dd>
    </dl>
    <input class="btn" type="submit" value="Upload" />
</form>
<br />
<div class="">
    <!--Show Message if file is uploaded or not-->
    @ViewBag.Message
</div>
